img {
    max-height: 500px;
    max-width: 100%;
}
li {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;

}
li p {
  text-align: left;
  padding-left: 3%;
  padding-right: 3%;  
}